In [40]:
import csv

In [41]:
with open('/users/tzuzul/PycharmProjects/DataScienceEnero2022/datos.csv') as csv_file:
    csv_reader = csv.reader(csv_file,delimiter=",")

    data = [fila for fila in csv_reader]

In [42]:
data

[['Number', 'State', 'Population', 'Murder rate', 'Abbreviation'],
 ['1', 'Alabama', '4,779,736', '5.7', 'AL'],
 ['2', 'Alaska', '710,231', '5.6', 'AK'],
 ['3', 'Arizona', '6,392,017', '4.7', 'AZ'],
 ['4', 'Arkansas', '2,915,918', '5.6', 'AR'],
 ['5', 'California', '37,253,956', '4.4', 'CA'],
 ['6', 'Colorado', '5,029,196', '2.8', 'CO'],
 ['7', 'Connecticut', '3,574,097', '2.4', 'CT'],
 ['8', 'Delaware', '897,934', '5.8', 'DE']]

In [43]:
lista_poblacion = [d[2] for d in data]
lista_poblacion

['Population',
 '4,779,736',
 '710,231',
 '6,392,017',
 '2,915,918',
 '37,253,956',
 '5,029,196',
 '3,574,097',
 '897,934']

In [44]:
with open('/users/tzuzul/PycharmProjects/DataScienceEnero2022/datos.csv') as csv_file:
    csv_reader = csv.DictReader(csv_file,delimiter=",")
    for row in csv_reader:
        print(row)

{'Number': '1', 'State': 'Alabama', 'Population': '4,779,736', 'Murder rate': '5.7', 'Abbreviation': 'AL'}
{'Number': '2', 'State': 'Alaska', 'Population': '710,231', 'Murder rate': '5.6', 'Abbreviation': 'AK'}
{'Number': '3', 'State': 'Arizona', 'Population': '6,392,017', 'Murder rate': '4.7', 'Abbreviation': 'AZ'}
{'Number': '4', 'State': 'Arkansas', 'Population': '2,915,918', 'Murder rate': '5.6', 'Abbreviation': 'AR'}
{'Number': '5', 'State': 'California', 'Population': '37,253,956', 'Murder rate': '4.4', 'Abbreviation': 'CA'}
{'Number': '6', 'State': 'Colorado', 'Population': '5,029,196', 'Murder rate': '2.8', 'Abbreviation': 'CO'}
{'Number': '7', 'State': 'Connecticut', 'Population': '3,574,097', 'Murder rate': '2.4', 'Abbreviation': 'CT'}
{'Number': '8', 'State': 'Delaware', 'Population': '897,934', 'Murder rate': '5.8', 'Abbreviation': 'DE'}

In [45]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.9/site-packages (1.4.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.0 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.1.3; however, version 22.0.2 is available.
You should consider upgrading via the '/opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('datos.csv')

In [48]:
df

   Number        State  Population  Murder rate Abbreviation
0       1      Alabama   4,779,736          5.7           AL
1       2       Alaska     710,231          5.6           AK
2       3      Arizona   6,392,017          4.7           AZ
3       4     Arkansas   2,915,918          5.6           AR
4       5   California  37,253,956          4.4           CA
5       6     Colorado   5,029,196          2.8           CO
6       7  Connecticut   3,574,097          2.4           CT
7       8     Delaware     897,934          5.8           DE

In [51]:
series = pd.Series(np.linspace(0,1,5))

In [52]:
series.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [53]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [54]:
series[3]

0.75

In [55]:
series[3:]

3    0.75
4    1.00
dtype: float64

In [56]:
series2 = pd.Series(np.linspace(0,1,5),index=['a','b','c','d','e'])

In [58]:
series2

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [59]:
series2['b']

0.25

In [60]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [61]:
population["California"]

38332521

In [63]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
states = pd.DataFrame({'population':population,'area':area})

In [64]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [65]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [66]:
states.columns

Index(['population', 'area'], dtype='object')

In [67]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [70]:
states_reduced = pd.DataFrame(states,columns=['population','area'])

In [71]:
states_reduced

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [5]:
ind = pd.Index([2,5,9,8,3,5,7,11])

In [6]:
ind

Int64Index([2, 5, 9, 8, 3, 5, 7, 11], dtype='int64')

In [8]:
ind[::2]

Int64Index([2, 9, 3, 7], dtype='int64')

In [9]:
ind[2] = 5

TypeError: Index does not support mutable operations

In [10]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [11]:
indA & indB

/var/folders/sb/30311bq16l911lpqttfpzgdw0000gn/T/ipykernel_86507/144964795.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [13]:
indA | indB | ind

/var/folders/sb/30311bq16l911lpqttfpzgdw0000gn/T/ipykernel_86507/1603532642.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB | ind

Int64Index([1, 2, 3, 5, 5, 7, 8, 9, 11], dtype='int64')