In [50]:
import pandas as pd
import numpy as np

In [3]:
data = pd.Series([0.25,0.5,0.75,1],index=['a','b','c','d'])

In [4]:
data['b']

0.5

In [5]:
'a' in data

True

In [6]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [8]:
data['e'] = 1.25

In [9]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [10]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [11]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [14]:
data[(data>0.3) & (data<0.8)]

b    0.50
c    0.75
dtype: float64

# Seleccion de datos en DataFrames

In [15]:
data_frame = pd.read_csv('../dataset/covid-variants.csv')

In [16]:
data_frame

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3
...,...,...,...,...,...,...
100411,Zimbabwe,2021-11-01,Omicron,0,0.0,6
100412,Zimbabwe,2021-11-01,S:677H.Robin1,0,0.0,6
100413,Zimbabwe,2021-11-01,S:677P.Pelican,0,0.0,6
100414,Zimbabwe,2021-11-01,others,0,0.0,6
100415,Zimbabwe,2021-11-01,non_who,0,0.0,6

In [17]:
data_frame['variant']

0                  Alpha
1              B.1.1.277
2              B.1.1.302
3              B.1.1.519
4                B.1.160
               ...
100411           Omicron
100412     S:677H.Robin1
100413    S:677P.Pelican
100414            others
100415           non_who
Name: variant, Length: 100416, dtype: object

In [18]:
data_frame.variant

0                  Alpha
1              B.1.1.277
2              B.1.1.302
3              B.1.1.519
4                B.1.160
               ...
100411           Omicron
100412     S:677H.Robin1
100413    S:677P.Pelican
100414            others
100415           non_who
Name: variant, Length: 100416, dtype: object

In [19]:
data_frame['percentage'] = (data_frame['num_sequences'] / data_frame['num_sequences_total']) * 100

In [20]:
data_frame

,location,date,variant,num_sequences,perc_sequences,num_sequences_total,percentage
0,Angola,2020-07-06,Alpha,0,0.0,3,0.0
1,Angola,2020-07-06,B.1.1.277,0,0.0,3,0.0
2,Angola,2020-07-06,B.1.1.302,0,0.0,3,0.0
3,Angola,2020-07-06,B.1.1.519,0,0.0,3,0.0
4,Angola,2020-07-06,B.1.160,0,0.0,3,0.0
...,...,...,...,...,...,...,...
100411,Zimbabwe,2021-11-01,Omicron,0,0.0,6,0.0
100412,Zimbabwe,2021-11-01,S:677H.Robin1,0,0.0,6,0.0
100413,Zimbabwe,2021-11-01,S:677P.Pelican,0,0.0,6,0.0
100414,Zimbabwe,2021-11-01,others,0,0.0,6,0.0
100415,Zimbabwe,2021-11-01,non_who,0,0.0,6,0.0

In [21]:
data_frame.values

array([['Angola', '2020-07-06', 'Alpha', ..., 0.0, 3, 0.0],
       ['Angola', '2020-07-06', 'B.1.1.277', ..., 0.0, 3, 0.0],
       ['Angola', '2020-07-06', 'B.1.1.302', ..., 0.0, 3, 0.0],
       ...,
       ['Zimbabwe', '2021-11-01', 'S:677P.Pelican', ..., 0.0, 6, 0.0],
       ['Zimbabwe', '2021-11-01', 'others', ..., 0.0, 6, 0.0],
       ['Zimbabwe', '2021-11-01', 'non_who', ..., 0.0, 6, 0.0]],
      dtype=object)

In [22]:
data_frame.T

,0,1,2,3,4,5,6,7,8,9,...,100406,100407,100408,100409,100410,100411,100412,100413,100414,100415
location,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
date,2020-07-06,2020-07-06,2020-07-06,2020-07-06,2020-07-06,2020-07-06,2020-07-06,2020-07-06,2020-07-06,2020-07-06,...,2021-11-01,2021-11-01,2021-11-01,2021-11-01,2021-11-01,2021-11-01,2021-11-01,2021-11-01,2021-11-01,2021-11-01
variant,Alpha,B.1.1.277,B.1.1.302,B.1.1.519,B.1.160,B.1.177,B.1.221,B.1.258,B.1.367,B.1.620,...,Gamma,Iota,Kappa,Lambda,Mu,Omicron,S:677H.Robin1,S:677P.Pelican,others,non_who
num_sequences,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
perc_sequences,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_sequences_total,3,3,3,3,3,3,3,3,3,3,...,6,6,6,6,6,6,6,6,6,6
percentage,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
data_frame.loc[0:10,'variant':]

      variant  num_sequences  perc_sequences  num_sequences_total  percentage
0       Alpha              0             0.0                    3         0.0
1   B.1.1.277              0             0.0                    3         0.0
2   B.1.1.302              0             0.0                    3         0.0
3   B.1.1.519              0             0.0                    3         0.0
4     B.1.160              0             0.0                    3         0.0
5     B.1.177              0             0.0                    3         0.0
6     B.1.221              0             0.0                    3         0.0
7     B.1.258              0             0.0                    3         0.0
8     B.1.367              0             0.0                    3         0.0
9     B.1.620              0             0.0                    3         0.0
10       Beta              0             0.0                    3         0.0

In [40]:
data_frame[2:]

,location,date,variant,num_sequences,perc_sequences,num_sequences_total,percentage
2,Angola,2020-07-06,B.1.1.302,0,0.0,3,0.0
3,Angola,2020-07-06,B.1.1.519,0,0.0,3,0.0
4,Angola,2020-07-06,B.1.160,0,0.0,3,0.0
5,Angola,2020-07-06,B.1.177,0,0.0,3,0.0
6,Angola,2020-07-06,B.1.221,0,0.0,3,0.0
...,...,...,...,...,...,...,...
100411,Zimbabwe,2021-11-01,Omicron,0,0.0,6,0.0
100412,Zimbabwe,2021-11-01,S:677H.Robin1,0,0.0,6,0.0
100413,Zimbabwe,2021-11-01,S:677P.Pelican,0,0.0,6,0.0
100414,Zimbabwe,2021-11-01,others,0,0.0,6,0.0
100415,Zimbabwe,2021-11-01,non_who,0,0.0,6,0.0

In [48]:
data_frame.loc[data_frame.num_sequences_total>100000,['location','num_sequences_total']]

             location  num_sequences_total
96672  United Kingdom               112772
96673  United Kingdom               112772
96674  United Kingdom               112772
96675  United Kingdom               112772
96676  United Kingdom               112772
...               ...                  ...
97795   United States               102430
97796   United States               102430
97797   United States               102430
97798   United States               102430
97799   United States               102430

[288 rows x 2 columns]

In [49]:
data_frame[data_frame.num_sequences_total>100000]

,location,date,variant,num_sequences,perc_sequences,num_sequences_total,percentage
96672,United Kingdom,2021-11-29,Alpha,3,0.00,112772,0.002660
96673,United Kingdom,2021-11-29,B.1.1.277,0,0.00,112772,0.000000
96674,United Kingdom,2021-11-29,B.1.1.302,0,0.00,112772,0.000000
96675,United Kingdom,2021-11-29,B.1.1.519,0,0.00,112772,0.000000
96676,United Kingdom,2021-11-29,B.1.160,0,0.00,112772,0.000000
...,...,...,...,...,...,...,...
97795,United States,2021-12-13,Omicron,3770,3.68,102430,3.680562
97796,United States,2021-12-13,S:677H.Robin1,0,0.00,102430,0.000000
97797,United States,2021-12-13,S:677P.Pelican,0,0.00,102430,0.000000
97798,United States,2021-12-13,others,202,0.21,102430,0.197208
97799,United States,2021-12-13,non_who,202,0.21,102430,0.197208

In [79]:
A = pd.DataFrame(np.random.randint(0,20,(2,2)))

In [80]:
A

   0   1
0  8  11
1  9   7

In [53]:
B = pd.DataFrame(np.random.randint(0,10,(3,3)))

In [54]:
B

   0  1  2
0  6  3  9
1  3  7  8
2  7  2  8

In [55]:
A + B

      0     1   2
0  23.0  11.0 NaN
1  21.0  13.0 NaN
2   NaN   NaN NaN

In [83]:
A[2] = 0

In [81]:
print(np.zeros(3))

A = A.append(pd.Series(np.zeros(3)),ignore_index=True)
#pd.concat(A,pd.Series(np.zeros(3)))

[0. 0. 0.]

/var/folders/sb/30311bq16l911lpqttfpzgdw0000gn/T/ipykernel_14035/395730836.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  A = A.append(pd.Series(np.zeros(3)),ignore_index=True)

In [84]:
A

     0     1  2
0  8.0  11.0  0
1  9.0   7.0  0
2  0.0   0.0  0

In [85]:
A + B

      0     1  2
0  14.0  14.0  9
1  12.0  14.0  8
2   7.0   2.0  8

# Handling Missing Data