### Existen dos estrat√©gias
- Mask:
- Sentinel

In [1]:
import numpy as np
import pandas as pd

In [2]:
values = np.array([1,None,3,4])

In [5]:
print(values.dtype)

object

In [6]:
valuesNumber = np.array([1,2,3,4])
print(valuesNumber.dtype)

int64

In [7]:
values.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [8]:
valuesNan = np.array([1,np.nan,3,4])
valuesNan.dtype

dtype('float64')

In [9]:
valuesNan + 5

array([ 6., nan,  8.,  9.])

In [14]:
np.nanmax(valuesNan)

4.0

In [17]:
dataNa = pd.Series([1,np.nan,2,None])

In [18]:
dataNa.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [19]:
dataNa.dropna()

0    1.0
2    2.0
dtype: float64

In [20]:
dataNa.fillna(0)

0    1.0
1    0.0
2    2.0
3    0.0
dtype: float64

In [21]:
dataNa.sum()

3.0

In [30]:
df = pd.DataFrame([[1,None,3],[None,5,6],[None,8,9]])

In [31]:
df

     0    1  2
0  1.0  NaN  3
1  NaN  5.0  6
2  NaN  8.0  9

In [32]:
df.fillna(method="ffill")

     0    1  2
0  1.0  NaN  3
1  1.0  5.0  6
2  1.0  8.0  9

In [34]:
df.fillna(method="bfill",axis=1)

     0    1    2
0  1.0  3.0  3.0
1  5.0  5.0  6.0
2  8.0  8.0  9.0