# Multiply Indexed Series

## La forma incorrecta:

In [2]:
import pandas as pd

In [3]:
index = [('California', 2000), ('California', 2010),
                ('New York', 2000), ('New York', 2010),
                ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
              18976457, 19378102,
              20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [4]:
pop[('California',2010):('Texas',2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [6]:
'''filteredData = []
for ind in pop.index:
    if ind[1]==2010:
        filteredData.append(ind)

pop[filteredData]
'''

pop[[i for i in pop.index if i[1]==2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [7]:
index = pd.MultiIndex.from_tuples(index)

index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [8]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [43]:
pop.loc["California":"New York",2010]

California  2010    37253956
New York    2010    19378102
dtype: int64

# Indexers

In [25]:
# loc
numbers = pd.Series([5,4,7,9,10])

In [26]:
numbers

0     5
1     4
2     7
3     9
4    10
dtype: int64

In [27]:
numbers[1]

4

In [28]:
numbers[1:3]

1    4
2    7
dtype: int64

In [29]:
numbers.loc[1]

4

In [30]:
numbers.iloc[1]

4

In [44]:
pop_df = pop.unstack()

pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [45]:
pop_df[2010]

California    37253956
New York      19378102
Texas         25145561
Name: 2010, dtype: int64

In [46]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [47]:
# Agregando datos

pop_df = pd.DataFrame({'total':pop,'under18':[9267089, 9284094,
                                           4687374, 4318033,
                                           5906301, 6879014]})

pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [48]:
pop_df.unstack()

               total            under18
                2000      2010     2000     2010
California  33871648  37253956  9267089  9284094
New York    18976457  19378102  4687374  4318033
Texas       20851820  25145561  5906301  6879014

In [49]:
series_u18 = pop_df['under18'] / pop_df['total'] * 100

series_u18.unstack()

                 2000       2010
California  27.359428  24.921096
New York    24.700997  22.283054
Texas       28.325110  27.356773